@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  color: #fff !important;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.5px;
  border-radius: 10px;
  background: #000;
  padding: 20px 40px;
  border: 1px solid transparent;
}

.btn:hover {
  color: #000 !important;
  background-color: white !important;
  border: 1px solid #000;
}

.topnav {
  overflow: hidden;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

.topnav a {
  float: left;
  color: #242323;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.22px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

  text-align: center;
  display: flex;
  align-items: center;
}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
  float: right;
  margin-top: 25px;
}

.topnav .logo {
  text-align: center;
  display: flex;
  align-items: center;
  color: #000;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 1.2px;
}

#topnav_logo_bold {
  font-weight: 900;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

#hero_call_to_action {
  display: flex;
  gap: 35px;
  align-items: center;
}

main {
  max-width: 1920px;
  margin: auto;
  padding: 0 20px;
  box-sizing: border-box;
}

#hero {
  border-radius: 59px;
  background: #f4f6f5;
  padding: 75px 120px;
  box-sizing: border-box;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#hero_h1 {
  color: #000;
  font-family: Poppins;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 120px; /* 125% */
}

#topnav_logo {
  width: auto;
  height: 100%;
  margin-right: 10px;
}

#hero_h2 {
  color: #191818;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.6px;
  margin: 40px 0 20px;
}

#hero_img {
  width: 725px;
  margin-right: 40px;
  height: auto;
}

#companies {
  background: #ebd96b;
  height: 186px;
  width: 100%;
  display: flex;
}

#companies_logos {
  display: flex;
  width: 1720px;
  align-items: center;
  justify-content: space-between;
}

.companies_logos_img {
  height: 80px;
  mix-blend-mode: multiply;
}

#app {
  display: flex;

  align-items: center;
  justify-content: space-around;
}
#app_img {
  width: 670px;
  height: auto;
}

#app_h1 {
  color: #000;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%; /* 72px */
  letter-spacing: 2.88px;
}
#app_h2 {
  color: #7c7c7c;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px; /* 145.833% */
  letter-spacing: -0.96px;
  margin: 60px 0;
}

.app_btn {
  width: 204px;
  height: auto;
}

#app_left {
  width: 600px;
}

#subscribe {
  padding: 140px 0;
  width: 100%;
  background: #e5c643;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#subscribe_h1 {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 55px;
  font-style: normal;
  font-weight: 900;
  line-height: 70px; /* 127.273% */
  letter-spacing: 1.65px;
  max-width: 960px;
  text-align: center;
}

#subscribe_h2 {
  color: #fffcf8;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 109.375% */
  letter-spacing: 0.96px;
  max-width: 960px;
  text-align: center;
  margin: 50px 0 35px;
}

#subscribe_input {
  border-radius: 10px;
  background: #fff;
  width: 574px;
  height: 87px;
  color: #767676;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 145.833% */
  letter-spacing: 0.72px;
  padding-left: 30px;
  text-align: left;
}

#subscribe_btn {
  display: math;
  margin-left: -160px;
  padding: 15px 40px;
}

#subscribe_form {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 120px 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;

  color: #8e8e8e;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 166.667% */
  letter-spacing: 0.48px;
}

#footer_logo_bold {
  font-weight: 900;
}

#footer_h1 {
  color: #fff;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
}

#footer_h2 {
  color: #8e8e8e;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 166.667% */
  letter-spacing: 0.48px;
  margin: 32px 0;
  width: 415px;
}

#footer_icons {
  display: flex;
  gap: 15px;
}

#footer_div {
  max-width: 250px;
}

#footer_right {
  gap: 140px;
  display: flex;
}

.footer_title {
  color: #d9d9d9;
}

#arrivals {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}
.arrivals_card {
  width: 484px;
}
.arrivals_card_img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.arrivals_card_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
  box-sizing: border-box;
}

.arrivals_card_title {
  color: #191919;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 156.25% */
  letter-spacing: -1.28px;
}

.arrivals_card_subtitle {
  color: #7f7f7f;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 208.333% */
  letter-spacing: -0.96px;
}
#arrivals_title {
  color: #000;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 50px; /* 104.167% */
  letter-spacing: 2.88px;
  margin: 60px 0 90px;
}

#shop_now {
  width: 100%;
  background: linear-gradient(
    1deg,
    #e0c340 0.13%,
    #dfc23e 3.97%,
    #e1c441 7.2%,
    #e3c743 10.13%,
    #e4c542 12.98%,
    #e6c744 15.99%,
    #e7c845 19.52%,
    #e5c643 23.96%,
    #e6c945 30.43%,
    #e3c743 36.49%,
    #e9ca48 42.49%,
    #edce49 49.35%,
    #f0d44c 55.42%,
    #f4d84f 61.43%,
    #f6da52 65.74%,
    #f7db53 72.23%,
    #f9dd55 77.43%,
    #f9df56 83.84%,
    #fae157 91.52%,
    #f9df56 97.87%
  );
  display: flex;
}

#shop_now_title {
  color: #000;
  font-family: Poppins;
  font-size: 111.608px;
  font-style: normal;
  font-weight: 900;
  line-height: 137.185px; /* 122.917% */
  margin-top: 100px;
}

#shop_now_subtitle {
  color: #231300;
  font-family: Poppins;
  font-size: 36.04px;
  font-style: normal;
  font-weight: 500;
  line-height: 52.316px; /* 145.161% */
  letter-spacing: -0.721px;
  margin: 35px 0;
}
#shop_now_img {
  width: 45%;
  height: auto;
}

#shop_now_right {
  padding: 0 0 0 100px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#favorite {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}
.favorite_card {
  width: 834px;
}
.favorite_card_img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.favorite_card_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
  box-sizing: border-box;
}

.favorite_card_title {
  color: #191919;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 156.25% */
  letter-spacing: -1.28px;
}

.favorite_card_subtitle {
  color: #7f7f7f;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 208.333% */
  letter-spacing: -0.96px;
}
#favorite_title {
  color: #000;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 50px; /* 104.167% */
  letter-spacing: 2.88px;
  margin: 60px 0 90px;
}
