.footer {
  display: flex;
  flex-direction: column;
  background-color: #393e46;
  padding: 90px;
}

.footer p {
  color: #f4f4f4;
  font-size: 14px;
  font-weight: 200;
}

.footer-left-block {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-right: 50px;
}

.footer .brand-logo {
  margin-bottom: 30px;
}

.footer .brand-logo p {
  color: #f4f4f4;
}

.brand-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.brand-info p {
  line-height: 24px;
}

.social-media {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer-right-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
}

.footer-nav-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer .nav-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.white-line {
  height: 1px;
  background-color: #f4f4f4;
  width: 100%;
  margin: 60px 0 30px;
}
