.footer {
  display: flex;
  flex-direction: column;
  background-color: #393e46;
  padding: 90px;
  width: 100%;
}

.footer-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer p {
  color: #f4f4f4;
  font-size: 14px;
  font-weight: 200;
}

.footer-left-block {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  width: 45%;
}

.footer .brand-logo {
  margin-bottom: 30px;
}

.footer .brand-logo p {
  color: #f4f4f4;
}

.nav-title {
  line-height: 22.9px;
}

.brand-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
}

.brand-explanation {
  line-height: 24px;
  width: 100%;
}

.social-media {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer-right-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
}

.footer-nav-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer .nav-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.white-line {
  height: 1px;
  background-color: #f4f4f4;
  width: 100%;
  margin: 60px 0 30px;
}

.copyright-and-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media all and (max-width: 1040px) {
  .footer-right-block {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
  }
}

@media all and (max-width: 900px) {
  .footer-right-block {
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
  }
}

@media all and (max-width: 700px) {
  .footer-box {
    flex-direction: column;
    align-items: center;
  }

  .footer-right-block {
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
  }

  .footer-left-block {
    margin: 0;
    width: 100%;
  }
}

@media all and (max-width: 700px) {
  .copyright-and-links {
    text-align: center;
    flex-direction: column;
    gap: 40px;
  }
}

@media all and (max-width: 460px) {
  .footer-right-block {
    grid-template-columns: 1fr;
  }

  .footer {
    text-align: center;
    padding: 40px 60px 40px 60px;
  }

  .footer .brand-logo {
    justify-content: center;
  }
}
